@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #222;
  background-image: url(/Images/fundo.png);
  background-size: cover;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @apply flex flex-col w-full h-[100vh] text-white;
}